body{
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    background-color: wheat;
}
ul{
    list-style: none;
}
.header, .footer{
    display: flex;
    color: gray;
    margin: 0;
    background-color: black;
}
a{
    text-decoration: none;
    color: black;
}
.link-container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer{
    justify-content: center;
    align-items: center;
    padding: 10px o;
    height: 50px;
}
.header{
    padding: 18px 18px;
}
.card, .card2 {
  padding: 16px;
  margin: 16px;
  width: 300px;
  border: 2px solid;
  border-color:white;
  border-radius: 10px;
  background-color: gray;
}
.card2{
    background-color: white;
    border-color: gray;
}